
body{
  margin: 0;
  text-align: center;

 font-family: 'Merriweather', serif;

}
h1{
  padding-top: 50px;

  margin-top: 0px;
      margin-bottom: 0px;

  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #0f0f0f;
}
h2{
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #0f0f0f;
  font-weight: 800;
  margin-bottom: 50px;

}
h3{
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: #0f0f0f;

}

hr{
  border-style: dotted none none none;
  border-width: 5px;
  width: 10%;
  color: #0f0f0f;
  margin: 50px auto 50px auto;

}

a{
    color:  #11999E;
}

a:link {
  text-decoration: none;
}
p{
  line-height: 2;
  font-size: 1rem;
}



.programmer{
  margin: 0 0 0 0 ;
  font-size: 2rem;
  font-family: 'Sacramento', cursive;
  color: #0f0f0f;
}

.top-container{

  background-image: linear-gradient(#FFADAD, #FFDAC7);
  text-align: center;

}

/*.....setting up  the mountain .....*/



.top-cloud{
  position: absolute;
  right :180px;
  top: 40px;
}
.bottom-cloud{
  position: absolute;

  left: 100px;
  bottom: 200px;

}


.middle-container{
  background-image: linear-gradient(#FFDAC7,#FFEFBC);
  padding-top: 100px;
  padding-bottom: 70px;

}

.skill-heading{
  width: 60%;
  margin: auto;
}
.skill-row{

    width: 60%;
    margin: 50px auto 50px auto;
    text-align: left;
}

.skill-1{
  width: 25%;
  float:left;
  margin-right: 30px;
}
.skill-2{
  width: 25%;
  float:right;
  margin-left: 30px;
}

 .skill-paragraph-1{
   padding:  20px;


}
.skill-paragraph-2{
   clear: left;
  padding: 20px;

}

.bottom-container{
  background-image: linear-gradient( #FFEFBC,#FFFEB7);
  margin:auto;
}

.footer-data{
  padding: 50px 0 0 0;
  margin:auto;

  width: 60%;
}

.profile{
      width: 60%;
      margin: auto;
}

.contact-me{
  width:60%;
  margin: auto;
}



.footer-link{
  margin: 20px;


}
.copyright-txt{
  color: #0f0f0f;
  padding: 30px;
  font-size: .75rem;
}

.contact-btn {
  margin: 20px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 1rem;
   font-weight: bold;
   padding: 10px 20px 10px 20px;
   background-color: #ff3333;
   -webkit-box-shadow: 1px 1px 20px 0 #ff6666;
   -moz-box-shadow: 1px 1px 20px 0 #ff6666;
   box-shadow: 1px 1px 20px 0 #ff6666;
   text-shadow: 1px 1px 20px #ff6666;
   border: solid #ff3333 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.contact-btn:hover {
   border: solid #ff0000 1px;
   background-color: #ff0000;
   font-weight: bold;

   /* background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6); */
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   text-decoration: none;
}
